{% extends "index.html" %}
{% load static %}

{% block content %}

<style>
    p{
        font-weight:600;
    }
</style>
<!-- HEADING-BANNER START -->
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>About Us</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
            
<!-- ABOUT-US-AREA START -->
<div class="about-us-area  pt-80 pb-80">
    <div class="container"> 
        <div class="about-us bg-white">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-photo">
                        <img src="{% static 'img/bg/about.png' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-brief bg-dark-white">
                        <h4 class="title-1 title-border text-uppercase mb-30" style="background-color: #f6f6f682;">About Fashion</h4>
                            <p>Pot Pourri Provides Online Shopping is the Process Whereby Consumers Directly Buy Goods or Services from a Seller in Real-time , Without an Intermediary Service, Over the Internet.</p>
                                    
                            <p>We are Providing the Choice of Clothes as per their Occasion and We Deliver Couple of Clothes to Customer can Easily Select their Clothes and Other Return to us.</p>
                                    
                            <p>Our Main Concept is All About <B> ‘ Try And Buy ’ </b> Theme Which Means Customer can Try and Buy their Suitable Clothes.</p>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
{% endblock %}

