{% extends "index.html" %}
{% load static %}

{% block content %}


<style type="text/css">
.profile{
margin:auto;
box-shadow: 0px 12px 20px 0px #cccccceb;
}

.profile img{
border-radius:100%;
border:2px solid lightgray;
width:60%;
}

.profile .card-body{
text-align:center;
}
/*.row .offset-lg-2{
      background-color: lightgrey;
    display: block;
    padding: 39px;
    border-radius: 5px;
    border: 3px solid #e03550;
}*/
input[type="text"],input[type="password"],text-area{
            border: 3px solid;
}
input:focus,text-area:focus{
    border:3px solid #e03550;
}
</style>
<!-- HEADING-BANNER START -->
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Change Password</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Change Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->

<main>

<!-- login Area Strat-->
  <section class="login-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 offset-lg-2" style="border-radius: 5px;border: 3px solid #e03550;background-color: lightgrey;padding:20px;">
          <div class="">
              <h3 class="text-center mb-60">Change Password</h3>
          <div class="container">
          <div class="row">
            
        <div class="col-md-8" style="padding: 3%;margin-left: 17%;">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="list-group ">
            <a href="#" style="text-align:center;" class="list-group-item list-group-item-action">Welcome {{ user.username }}</a>
            
          </div> 
                <div class="col-md-12">
                  <h4>Change Password</h4>
                  <hr>
                </div>
              </div>
              <div class="row">
              <div class="col-md-12">
              <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="username" class="col-4 col-form-label">Old Password</label> 
                    <div class="col-8">
                {{ form.old_password }}
                    </div>
                </div>
                <div class="form-group row">
                  <label for="publicinfo" class="col-4 col-form-label">New Password</label> 
                    <div class="col-8">
                {{ form.new_password1 }}
                    </div>
                </div>
                <div class="form-group row">
                  <label for="publicinfo" class="col-4 col-form-label">Confirm Password</label> 
                  <div class="col-8">
                {{ form.new_password2 }}
                  </div>                  
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="button-one submit-button mt-15" data-text="Update" style="margin-left:38%">Update</button>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- login Area End-->

</main>
{% endblock %}

