{% extends "index.html" %}
{% load static %}

{% block content %}



<main>

   
<!-- login Area Strat-->
<section class="login-area pt-20 pb-20">
    <div class="container">
        <div class="row">
       
                
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                    <h3 class="text-center mb-60">Reset Password </h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label for="name"><b><h5>Email</h5></b></label>
                        {{ form.as_p }}
                        {{ form.Email.errors }}
                       
                        <input type="submit" class="c-btn theme-btn-2 w-100"  value="Submit">
                       
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login Area End-->

</main>

{% endblock %}