
{% extends "index.html" %}
{% load static %}

{% block content %}


<!-- HEADING-BANNER END -->
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Registration</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Registration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
<script type="text/javascript">
    function validation()
    {
        var errorflag = false;
        var focusOn = '';

    var fname = document.UserProfileForm.First_Name.value;
    var lname = document.UserProfileForm.Last_Name.value;
    var password = document.UserProfileForm.Password.value;
    
    var email = document.UserProfileForm.Email.value;
    var contact_no = document.UserProfileForm.Contact_No.value;
    var address = document.UserProfileForm.Address.value;



    if(fname == "")
    {
        document.getElementById("fnameRequired").style.display ='';
        document.getElementById("fnameInvalid").style.display ='none';
        if(!focusOn)
        {
            focusOn=document.UserProfileForm.First_Name;
        }       
        errorflag = true;
    }
    else
    {
        document.getElementById("fnameRequired").style.display ='none';
        document.getElementById("fnameInvalid").style.display ='none';
        if(fname.search(/^[a-zA-Z ]+$/)==-1)
        {
            document.getElementById("fnameRequired").style.display ='none';
            document.getElementById("fnameInvalid").style.display ='';
            if(!focusOn)
            {
                focusOn=document.UserProfileForm.First_Name;
            }
            errorflag = true;
        }
        else
        {
            document.getElementById("fnameRequired").style.display ='none';
            document.getElementById("fnameInvalid").style.display ='none';
        }
    }



    if(lname == "")
    {
        document.getElementById("lnameRequired").style.display ='';
        document.getElementById("lnameInvalid").style.display ='none';
        if(!focusOn)
        {
            focusOn=document.UserProfileForm.Last_Name;
        }       
        errorflag = true;
    }
    else
    {
        document.getElementById("lnameRequired").style.display ='none';
        document.getElementById("lnameInvalid").style.display ='none';
        if(lname.search(/^[a-zA-Z ]+$/)==-1)
        {
            document.getElementById("lnameRequired").style.display ='none';
            document.getElementById("lnameInvalid").style.display ='';
            if(!focusOn)
            {
                focusOn=document.UserProfileForm.Last_Name;
            }
            errorflag = true;
        }
        else
        {
            document.getElementById("lnameRequired").style.display ='none';
            document.getElementById("lnameInvalid").style.display ='none';
        }
    }
   


    if(password == "")
    {                            
    document.getElementById("pwdRequired").style.display ='';
    if(!focusOn)
    {
        focusOn=document.UserProfileForm.Password;
    }       
    errorflag = true;
    }
    else
    {
        document.getElementById("pwdRequired").style.display ='none';           
    }

   
    if(email == ""){                          
        document.getElementById("Email").style.display ='';
        document.getElementById("EmailValid").style.display ='none';
        if(!focusOn){
            focusOn=document.UserProfileForm.Email;
        }       
        errorflag = true;
    }
    else
    {
        document.getElementById("Email").style.display ='none';
        document.getElementById("EmailValid").style.display ='none';
        if(email.search(/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/)==-1)
        { 
            document.getElementById("Email").style.display ='none';         
            document.getElementById("EmailValid").style.display ='';
            if(!focusOn)
            {
                focusOn=document.UserProfileForm.Email;
            }
            errorflag = true;
        }
        else
        {
            document.getElementById("Email").style.display ='none';
            document.getElementById("EmailValid").style.display='none';
        }   
    }



    if(contact_no == "")
    {
        document.getElementById("contactRequired").style.display ='';
        document.getElementById("contactInvalid").style.display ='none';
        if(!focusOn)
        {
            focusOn=document.UserProfileForm.Contact_No;
        }       
        errorflag = true;
    }
    
    else
    {
        document.getElementById("contactRequired").style.display ='none';
        document.getElementById("contactInvalid").style.display ='none';
        if(contact_no.search(/^[0-9]+$/)==-1)
        {
            document.getElementById("contactRequired").style.display ='none';
            document.getElementById("contactInvalid").style.display ='';
            
            if(!focusOn)
            {
                focusOn=document.UserProfileForm.Contact_No;
            }
            errorflag = true;
        }
        else if(contact_no.length != 10)
        {
            document.getElementById("contactRequired").style.display ='none';
            document.getElementById("contactInvalid").style.display ='none';
            document.getElementById("contactnoInvalid").style.display ='';
            if(!focusOn)
            {
                focusOn=document.UserProfileForm.Contact_No;
            }       
            errorflag = true;

        }
        else
        {
            document.getElementById("contactRequired").style.display ='none';
            document.getElementById("contactInvalid").style.display ='none';
            document.getElementById("contactnoInvalid").style.display ='none';
        }
    }



    if(address == "")
    {                            
    document.getElementById("addressRequired").style.display ='';
    if(!focusOn)
    {
        focusOn=document.UserProfileForm.Address;
    }       
    errorflag = true;
    }
    else
    {
        document.getElementById("addressRequired").style.display ='none';           
    }

    if(focusOn)
    {
        focusOn.focus();
    }
    if(errorflag == true)
        return false;                       
    else
        return true;
    }
</script>

<main>


   

<!-- login Area Strat-->
<section class="login-area pt-20 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                    <h3 class="text-center mb-60">Register From Here</h3>
                    <form action="" name="UserProfileForm" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <span style="color:red;display: none;" id="fnameRequired">Enter Your First Name</span>
                        <span style="color:red;display: none;" id="fnameInvalid">Enter only Character</span>

                         <label for="name"><b><h5>First Name</h5></b></label>
                        <!--<input id="name" type="text" placeholder="Enter Usernam e or Email address..." />-->
                        {{ forms.first_name }}
                        <span style="color:red;display: none;" id="lnameRequired">Enter Your Last Name</span>


                         <label for="name"><b><h5>Last Name</h5></b></label>
                        <!--<input id="name" type="text" placeholder="Enter Usernam e or Email address..." />-->
                        {{ forms.last_name }}
                        <span style="color:red;display: none;" id="lnameRequired">Enter Your Last Name</span>



                        <label for="name"><b><h5>Username</h5></b></label>
                        <!--<input id="name" type="text" placeholder="Enter Usernam e or Email address..." />-->
                        {{ forms.username }}
                        <span style="color:red;display: none;" id="lnameRequired">Enter Your Last Name</span>
                        <span style="color:red;display: none;" id="lnameInvalid">Enter only Character</span>
                        <label for="name"><b><h5>Email</h5></b></label>
                        {{ forms.Email }}
                        {{ forms.Email.errors }}
                        <span style="color:red;display: none;" id="pwdRequired">Enter Your Password</span>
                       
                       <label for="name"><b><h5>Password</h5></b></label>
                        {{ forms.password1 }}
                        
                        <span style="color:red;display: none;" id="Email">Enter Your Email</span>
                        <span style="color:red;display: none;" id="EmailValid">Enter Valid Email</span>
                        <label for="name"><b><h5>Re Password</h5></b></label>
                        {{ forms.password2 }}
                        <span style="color:red;display: none;" id="contactRequired">Enter Your Contact No</span>
                        <span style="color:red;display: none;" id="contactInvalid">Enter only Number</span>
                        <span style="color:red;display: none;" id="contactnoInvalid">Enter only 10 Digit No.</span>
                        <label for="name"><b><h5>Contact No</h5></b></label>
                        {{ forms.Contact_No }}
                        
                        <span style="color:red;display: none;" id="fnameRequired">Enter Your First Name</span>
                        <span style="color:red;display: none;" id="fnameInvalid">Enter only Character</span>
                     
                        
                        
                        <span style="color:red;display: none;" id="addressRequired">Enter Your Address</span>
                        <label for="name"></label><b><h5>Address</h5></b></label>
                        {{ forms.Address }}
                        <div class="login-action mb-20 fix">
                          
                        </div>
                        <input type="submit" onclick="return validation()" class="c-btn theme-btn-2 w-100"  value="Register Now" >
                       
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login Area End-->

</main>

{% endblock %}

